*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
    background: violet;
    padding: 0 10%;
}
.collectiv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.item{
    list-style: none;
    color: #fff;
}
.item:first-child{
    color: red;
}
.item:last-child{
    color: blue;

}
.item:nth-child(3){
    color: gold;
}
.item:nth-child(5) > button{
    background: red;
}



.parent{
    border: 1px solid red;
}
/*> online children*/
.parent > p{
    color: blue;
}
/*+ - first neighbor */
/*~ - all neighbor */
.parent ~ p{
    color: green;
}



.toggle{
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background: #ddd;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

#input__toggle{
    display: none;
}
.circle{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    transition: .25s;
}
#input__toggle:checked + .toggle{
    background: dodgerblue;
}

#input__toggle:checked + .toggle > .circle{
    transform: translateX(40px);
}




.btn{
    padding: 20px 30px;
    border-radius: 6px;
    border: 1px solid dodgerblue;
    background: dodgerblue;
    color: #fff;

}
.btn:hover{
    background: blue;
    cursor: pointer;
}
.btn:active{
    
    transform: scale(.9);
    opacity: .7;
}



.inp{
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
.inp:focus{
    outline: 2px solid #acd6ff;
    background: #ffefd3;
}





.btn:disabled{
    opacity: .7;
    cursor: no-drop;
}
.btn:disabled:hover{
    background: dodgerblue;
}
.btn:disabled:hover{
    transform: scale(1);
}

